:root{
	--bg-overlay-opacity-tertiary: 0.89;
	--bg-overlay-tertiary: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-tertiary)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-tertiary))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
--bg-overlay-opacity-secondary: 0.75;
	--bg-overlay-secondary: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-secondary)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-secondary))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover;
--bg-overlay-opacity-primary: 0.65;
	--bg-overlay-primary: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-primary)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-primary))) fixed 0 0/cover,var(--custom-theme-background) fixed 0 0/cover
}

/**Emoji picker*/
.contentWrapper-3vHNP2,
.wrapper-1NNaWG,
.header-11eigE,
.emojiPicker-6YCk8a {
	background: var(--bg-overlay-3);
}
.wrapper-22rqw6 {
	background: var(--bg-overlay-1) !important;
}
/* Search*/
.inspector-DFKXwB {
	background: var(--bg-overlay-2);
}

/** Search bar*/
.container-1SX9VC,
.container-2oNtJn {
	background: var(--bg-overlay-4);
}
.emojiItem-277VFM.emojiItemSelected-2Lg50V {
	background: var(--bg-overlay-hover);
}
:is(.categoryItemDefaultCategory-3haEDq, .stickerCategory-2f6iSo):hover {
	background: var(--bg-overlay-3);
}
.categoryItemDefaultCategorySelected-2YeRUu,
.stickerCategoryGenericSelected-DnO2K8,
.premiumCategorySelected-2KWLhN {
	background: var(--bg-overlay-4) !important;
}
.navButtonActive-1EqC5l {
	background: var(--bg-overlay-selected);
}

/** Quick switcher*/
.quickswitcher-pKcM9U {
	background: var(--bg-overlay-3);
}
.scroller-2qwVWY {
	background: transparent;
}
.input-3r5zZY {
	background: var(--bg-overlay-1);
}
.container-qBnZJg {
	transform: none !important;
}
.result-u66Ywh[aria-selected="true"] {
	background: var(--bg-overlay-4);
}

/** Message button*/
.wrapper-2vIMkT {
	background: var(--bg-overlay-3);
}
.button-3bklZh:hover {
	background: var(--bg-overlay-4);
}
.button-3bklZh.selected-69H4ua {
	background: var(--bg-overlay-5);
}

/** fixes gradient shift*/
.tabBody-2dgbAs,
.root-1CAIjD[style*="scale(1)"] {
	transform: none !important;
}

/**channels and roles > customization*/
.selected-KQBgNS {
	background: var(--bg-overlay-2);
}
.prompt-1sE27N {
	background: var(--bg-overlay-3);
}
.selected-KQBgNS {
	border: none;
}
.container-2IKOsH,
.header-3xB4vB {
	background: var(--bg-overlay-chat) !important;
}

/** Autocomplete*/
.autocomplete-3NRXG8 {
	background: var(--bg-overlay-3);
}
.clickable-2V8YKY[aria-disabled="false"] > .base-2v-uc0:hover,
.clickable-2V8YKY[aria-selected="true"] > .base-2v-uc0 {
	background: var(--bg-overlay-4) !important;
}

/** Modals*/
.header-1sd0RU {
	background: var(--bg-overlay-1);
}
.root-1CAIjD:not(.carouselModal-1eUFoq) {
	background: var(--bg-overlay-3);
}

.rootWithShadow-2hdL2J {
	box-shadow: none !important;
}

.lookFilled-GPyucw.select-Zz0IcO {
	background: var(--bg-overlay-4);
}
.footer-IubaaS,.footer-VCsJQY {
	background: var(--bg-overlay-2);
	box-shadow: none !important
}
/* events tab*/
.card-8UsK4b {
	background: var(--bg-overlay-2);
	border: none;
}
.card-8UsK4b:hover {
	background: var(--bg-overlay-1);
}
.rsvpCount-iCkObl {
	background: var(--bg-overlay-3);
}

.footerSeparator-3U8YsT {
	box-shadow: none !important;
}

/** Scrollbars*/
.theme-dark .auto-2TJ1RH::-webkit-scrollbar-track {
	background-size: 200vh;
	background-image: linear-gradient(rgb(var(--bg-overlay-color) / 0.4), rgb(var(--bg-overlay-color) / 0.4)), var(--custom-theme-background);
}
.theme-dark .auto-2TJ1RH::-webkit-scrollbar-thumb,
.theme-dark .thin-RnSY0a::-webkit-scrollbar-thumb {
	background-size: 200vh;
	background-image: linear-gradient(rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-4)), rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-4))),
		var(--custom-theme-background);
}
.theme-light .auto-2TJ1RH::-webkit-scrollbar-track {
	background-size: 200vh;
	background-image: linear-gradient(rgb(var(--bg-overlay-color) / var(--bg-overlay-opacity-2)), rgb(var(--bg-overlay-color) / var(--bg-overlay-opacity-2))), var(--custom-theme-background);
}
.theme-light .auto-2TJ1RH::-webkit-scrollbar-thumb,
.theme-light .thin-RnSY0a::-webkit-scrollbar-thumb {
	background-size: 100vh;
	background-image: rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-6)), rgb(var(--bg-overlay-color) / var(--bg-overlay-opacity-3));
}

/** Friendlist buttons*/
.actionButton-3-B2x- {
	background: var(--bg-overlay-4);
}
.actionButton-3-B2x-:active {
	background: var(--bg-overlay-hover);
}

/** Tabs*/
.themed-qqoYp3.item-2GWPIy:not(.addFriend-emTWY1, .tabBarItem-30Te4-):hover {
	background: var(--bg-overlay-hover);
}
.themed-qqoYp3.item-2GWPIy:not(.addFriend-emTWY1, .tabBarItem-30Te4-):active {
	background: var(--bg-overlay-active);
}
.themed-qqoYp3.selected-1sf9UK.item-2GWPIy:not(.addFriend-emTWY1, .tabBarItem-30Te4-) {
	background: var(--bg-overlay-selected);
}
.peopleListItem-u6dGxF:hover {
	background: var(--bg-overlay-3);
}

/** Member list*/
.layout-1qmrhw:hover {
	background: var(--bg-overlay-3);
}
.layout-1qmrhw:active {
	background: var(--bg-overlay-4);
}
.selected-1-Z6gm .layout-1qmrhw {
	background: var(--bg-overlay-5);
}

/** Active Now*/
#app-mount .wrapper-2RrXDg {
	background: var(--bg-overlay-3);
}
.section-3G9aLW{
	background: var(--bg-overlay-chat)
}
#app-mount .wrapper-2RrXDg:hover {
	background: var(--bg-overlay-tertiary);
}
.emptyCard-KDifrB {
	background: var(--bg-overlay-3);
}

/** Context Menus*/
.didRender-2dwLEv{
	transform: none !important
}
.menu-2TXYjN {
	background: var(--bg-overlay-tertiary);
	transform: none
}
.button-1zW0-r{
	background: var(--bg-overlay-1)
}
.button-1zW0-r:hover {
	background: var(--bg-overlay-2);
}


/** Settings*/
.contentRegionScroller-2_GT_N,.titleContainer-3fPic2,.header-JUTO-g,.contentRegion-3HkfJJ{
	background: var(--bg-overlay-chat);
}
.sidebarRegionScroller-FXiQOh {
	background: var(--bg-overlay-3);
}
/*User Profile*/
.accountProfileCard-lbN7n-{
	background: var(--bg-overlay-3)
}
.background-3d_SjE,.fieldList-in8WkP{
	background: var(--bg-overlay-chat)
}
/** Audit log*/
.header-2pgFQm{
		background: var(--bg-overlay-3)

}
.headerExpanded-1-zwDr{
	background: var(--bg-overlay-primary)
}
.auditLog-1NVAY0{
	border: none !important;
}
.changeDetails-1kMZqI{
	background: var(--bg-overlay-secondary)
}


/**Roles tab buttons*/
.primary-38Hs-h:hover:not(.disabled-184-il), .secondary-2bzKEX{
	background: var(--bg-overlay-primary)
}
/*Default permissions tab button*/
.container-3EtAkD{
	background: var(--bg-overlay-secondary)
}
.container-3EtAkD:hover{
	background: var(--bg-overlay-3)
}
.container-3EtAkD:active{
	background: var(--bg-overlay-primary)
}
.icon-2DGsye{
	background: var(--bg-overlay-4)
}

/** user panel buttons*/
.button-12Fmur:hover{
	background:var(--bg-overlay-3)
}

/** tooltips*/
.tooltipPrimary-2466a2{
	background: var(--bg-overlay-tertiary);
	transform: none !important
}
.tooltip-33Jwqe{
	will-change: unset
}
/** file upload*/
.upload-vLbqu-{
	background:var(--bg-overlay-2)
}
/** embeds*/
.embedFull-1HGV2S{
	background: var(--bg-overlay-3)
}
/** search*/
.searchHeader-1r_ZSh{
	background: var(--bg-overlay-1) !important
}
.searchResultsWrap-5RVOkx{
	background: var(--bg-overlay-chat)
}
.searchResult-O9NDji{
	background: var(--bg-overlay-3)
}

/** emoji info thing*/
.emojiSection-3QtaWO{
	background: var(--bg-overlay-primary);
	border-radius: 1px
}
.guildSection-2Zyzy8{
	background: var(--bg-overlay-secondary)
}
/** loading popup*/
.loadingPopout-1tyQMM{
	background: var(--bg-overlay-4)
}

/** [Experimental] match the brightness with the default gray theme
 with: https://cdn.discordapp.com/attachments/1101660240728043601/1124012965390196817/image.png
 without: https://cdn.discordapp.com/attachments/1101660240728043601/1124013127126749275/image.png */

/*
:root {
	--bg-overlay-chat: var(--bg-overlay-primary);
	--bg-overlay-app-frame: var(--bg-overlay-1)
}

:root .themed-Hp1KC_ {
	background: var(--bg-overlay-chat)
}

.scrollableContainer-15eg7h {
	background: var(--bg-overlay-4)
}
.searchBar-jGtisZ{
	background: var(--bg-overlay-2);
}
*/
